*.pdf
*.docx
*.tmp
HW1/hw1/release/clandestine-operation/LEA_practice/HashPump/
HW1/hw1/release/clandestine-operation/__pycache__/*
!HW1/*.pdf
!HW1/hw1/release/bank/*.pdf
HW1/hw1/release/clandestine-operation/Padding-oracle-attack

HW2/hw2/release/mix-tor/__pycache__/*