*.pdf
*.docx
*.tmp
HW1/hw1/release/clandestine-operation/LEA_practice/HashPump/
HW1/hw1/release/clandestine-operation/__pycache__/*
!HW1/*.pdf
!HW1/hw1/release/bank/*.pdf
HW1/hw1/release/clandestine-operation/Padding-oracle-attack

HW2/hw2/release/mix-tor/__pycache__/*
!HW2/*.pdf
!HW3/*.pdf
!Final Project/*.pdf
!HW0/*.pdf
!Reading\ Critique\ #2/*.pdf
!Reading\ Critique\ #3/*.pdf
!Reading\ Critique\ #4/*.pdf
!Reading\ Critique\ #5/*.pdf
!Reading\ Critique\ #6/*.pdf
!Reading\ Critique\ #7/*.pdf
!Reading\ Critique\ #8/*.pdf
HW3/hw3/release/accumulator/__pycache__/*
HW3/hw3/release/Web/*